.wrapper {
  width: 100%;
  overflow: hidden;
  padding: 20px 0;
  background-color: transparent;
  margin: 60px 0 0px 0;
  position: relative;
}

.header {
  display: flex;
  align-items: center;
  gap: 14px;
  margin-bottom: 22px;
  padding: 0 40px;
}

.label {
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #667085;
  white-space: nowrap;
}

.dividerLine {
  flex: 1;
  height: 1px;
  background: #bfc5cc;
}

.scrollMask {
  overflow: hidden;
  position: relative;
}

.track {
  display: flex;
  align-items: center;
  gap: 55px;
  width: max-content;
  animation: scroll 20s linear infinite;
}

.logoItem {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.7;
  transition: 0.3s ease;
}

.logoItem:hover {
  opacity: 1;
  transform: scale(1.05);
}

.logoImage {
  height: 15vh;
  width: auto;
  object-fit: contain;
  display: block;
}

/* PAGINATION DOTS */
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 22px;
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #c7c7c7;
  transition: 0.3s ease;
  cursor: pointer;
}

.activeDot {
  width: 30px;
  border-radius: 30px;
  background: #111;
}

/* animation */
@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}

/* tablet */
@media (max-width: 768px) {
  .header {
    padding: 0 20px;
  }

  .track {
    gap: 35px;
  }

  .logoImage {
    height: 30px;
  }
}

/* mobile */
@media (max-width: 576px) {
  .label {
    font-size: 9px;
    letter-spacing: 2px;
  }

  .logoImage {
    height: 34px;
  }

  .track {
    gap: 24px;
  }

  .pagination {
    margin-top: 16px;
  }

  .dot {
    width: 8px;
    height: 8px;
  }

  .activeDot {
    width: 24px;
  }
}